/*!
* ZnetDK, Starter Web Application for rapid & easy development
* See official website http://www.znetdk.fr 
* Copyright (C) 2015 Pascal MARTINEZ (contact@znetdk.fr)
* License GNU GPL http://www.gnu.org/licenses/gpl-3.0.html GNU GPL
* --------------------------------------------------------------------
* Common layout styles
* File version: 1.7
* Last update: 04/26/2018
*/html,body{border:0;margin:0;padding:0;height:100%;position:relative;width:100%}body{font-size:1em;color:#333}h1{font-size:1.5em}em{color:#3d8e7d}img{border:0}a:hover,a:active{text-decoration:underline}#zdk-critical-err{height:auto}.zdk-err-detail{color:red}.zdk-image-fatal{background-position:0 -132px;margin:0 10px 60px 0}.zdk-image-question{margin:5px 10px 0 0;float:left;background:url('../../images/warning.png');width:48px;height:48px}.zdk-text-question{width:265px;float:left}#zdk-messages{z-index:3000}#zdk-messages .pui-growl-item-container{border:0;color:#fff}#zdk-messages .pui-growl-item-container.info{background:#3498db}#zdk-messages .pui-growl-item-container.warn{background:#e67e22}#zdk-messages .pui-growl-item-container.error{background:#e74c3c}#zdk-messages .pui-growl-title{font-size:1.1em}div#banner>table{width:100%}div#banner td{padding:0}div#banner h1,div#banner h2{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}div#zdk-language-area label{text-align:left}div#zdk-language-area>form>img{margin-bottom:2px}img#zdk-language-area-img{vertical-align:bottom}span#zdk-language-area-label{margin-left:4px;vertical-align:text-bottom}#zdk-connection-area img,img#language_button,#zdk-help-area img,#zdk-profile-area img{vertical-align:middle;margin:0 5px}div.zdk-user-panel{width:auto;max-width:360px}#zdk-profile-view li.username{margin-top:5px;font-weight:bold;font-size:1.1em;text-align:center}#zdk-profile-view li.usermail{text-align:center;word-wrap:break-word}#zdk-profile-view li.changepwd{margin-top:10px;text-align:center}div#banner{top:10px}div#banner,div#content{min-width:768px;position:absolute;left:20px;right:20px}@media(max-width:808px){div#banner{top:0}div#banner,div#content{left:0;right:0}}div#banner,div#footer{border:0;-moz-box-shadow:2px 2px 2px #e0e0e0;box-shadow:2px 2px 2px #e0e0e0}div#content{height:auto}#default_content{padding:30px;position:absolute;overflow:auto;left:0;right:0;top:0;bottom:0;height:auto;width:auto}#default_content h3{font-size:1.4em}#default_content p{font-size:1.26em}.hidden{visibility:hidden}
